@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container{
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container{
        width: 90%;
    }
}

@media (min-width: 92px) {
    .container{
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 90%;
    }
}

@media (min-width: 1400px) {
    .container{
        width: 90%;
    }
}